APP_NAME="Justificativas RH"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001
GI_URL=http://localhost:8001
GI_CLIENT_ID=
GI_CLIENT_SECRET=
GI_FRAME_ANCESTORS=http://localhost:8001
SESSION_DRIVER=file
